#catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    
}

#cardContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 95%; 
    height: 980px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}
